services:
  - type: web
    name: vendifi-backend
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 18.0.0
      - key: RELOADLY_CLIENT_ID
        sync: false
      - key: RELOADLY_CLIENT_SECRET
        sync: false
      - key: FLUTTERWAVE_SECRET_KEY
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
